.blog-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    column-gap: 10px;
    padding: 20px 0px 20px 60px;
    justify-content: center;
}

.blog-card {
    background: white;
    border-radius: 12px;
    overflow: hidden;
    transition: transform 0.2s ease-in-out;
    width: 95%;
}

.blog-card:hover {
    transform: translateY(-5px);
}

.blog-image {
    width: 100%;
    height: 250px;
    object-fit: cover;
    align-items: center;
    border-radius: 12px;
}

.blog-content {
    padding: 15px;
}

.blog-category {
    font-size: 12px;
    color: #7f56d9;
    font-weight: bold;
    text-transform: uppercase;
}

.blog-title {
    font-size: 18px;
    font-weight: bold;
    margin: 15px 0;
}

.blog-title a {
    text-decoration: none;
    color: #333;
}

.blog-description {
    font-size: 14px;
    color: #666;
}

.blog-footer {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    color: #999;
    margin-top: 10px;
}